.main_box{
margin-left: 32.9%;
color: white;
width: 670px;
height: 180px;
display: inline-block;
background:rgba(31, 32, 38, 0.9);
border-right: 6px;
box-shadow: 0 5px 35px rgba(0,0,0,0.5);
margin-bottom: 15px;
margin-top: 50px;
padding-top:20px;
padding:30px;
border-radius:25px;
}


.section_cercle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  margin-left: 50%;
  margin-right: 50%;
  padding-top:50px;
  padding-bottom:80px;
  background: #042104;
  animation: cercle_animation 10s linear infinite;
}

@keyframes cercle_animation
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%
  {
    filter: hue-rotate(360deg);
  }
}

.cercle_effect{
  position: relative;
  height: 233px;
  width: 233px;
/*skewY*/
 transform: skewY(30deg);
}
.section_cercle .cercle_effect span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.section_cercle .cercle_effect span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
animation: cercle_scale 2s linear infinite;
animation-delay: calc(0.1s * var(--i));
}
@keyframes cercle_scale
{
 0%
 {
   transform: scale(1);
 }
/*80%,100%*/
 101%,100%
 {
   transform: scale(0)
 }
}



.gg{
background:white;
}


.content-article {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.h2_heading_title {
  color: #2399f0;
  text-decoration:none; 
}

a.h2_heading_title:hover {
  color: #0f84dc;
  text-decoration: none;
}
a.mr-2{
  text-decoration:none;
  color:white;
}

.post {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.main_box_content {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.main_box_content a:hover {
  color: #2399f0;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.home_login_alert{
width: 660px;
height: 20px;
margin-left:32.9%;
background-color:rgb(0 255 57 / 61%);

padding-top:5px;
padding-bottom:5px;
text-align:center;
font-family: 'Noto Sans', sans-serif;
}
.login_login_alert{
width: 660px;
height: 20px;
margin-left:32.9%;
background-color:rgb(0 255 57 / 61%);

padding-top:5px;
padding-bottom:5px;
text-align:center;
font-family: 'Noto Sans', sans-serif;
}
.rounded-circle{
position: absolute;
clip-path: circle();
height: 230px;
width: 230px;
box-sizing: border-box;
align-items: center;

}

/* this is clickablevprofile picture */
.profile_dropbtn{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  height: 60px;
  width: 100px;
  padding: 16px;
  font-size: 16px;

  cursor: pointer;
  margin-left: 64.5vh;
  margin-top: -140px;

  border: none;
    outline: none;

}

.profile_dropbtn:hover, .profile_dropbtn:focus {
  background-color: rgba(255, 255, 255, 0.1);

}

.profile_dropdown {
  position: relative;
  display: inline-block;
}

.profile_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  text-align: center;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 87.5vh;
  margin-top: -197px;
}

.profile_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile_dropdown a:hover {background-color: #ddd;}

.profile_show {display: block;}

/* end of clickablevprofile picture */

