<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% if title %}
  <title>MPS - {{ title }}</title>
  {% else %}
  <title>MPS</title>
  {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='update_account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='setting.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <header class="container">
    <img class="logo" src="../static/img/m.png" alt="#">
    <div id="search-box">
      <input class="search-text" type="text" name="button" placeholder="type to search">
      <a href="#" class="search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </div>


    <nav>
      <ul class="nav_links">
        <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i></a></li>
        <li><a href="{{ url_for('world') }}"><i class="fas fa-globe-africa"></i></a></li>
        <li><a href="{{ url_for('freinds') }}"><i class="fas fa-user-friends"></i></a></li>
      </ul>
    </nav>
<!--    <a class="menu" href="#"><i class="fas fa-bars"></i></a>-->

      <div class="dropdown" style="float:right;">
        <button class="dropbtn">Drop</button>
        <div class="dropdown-content">
 <!--belek nzid nav fel login templates i duno-->
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('setting') }}">Settings</a>
          <a href="#">Policies</a>
          <a href="{{ url_for('logout') }}">Log out</a>
          {% else %}
<!-- NOTE:!! i can redirect it to the home if i want.
       2operational -> home -> login templates -->
          <a href="{{ url_for('login') }}">Log in</a>
         {% endif %}
        </div>
      </div>

<!--      <div class="menu_box">
        <ul>
          <div class="menubar">
            <li> <a class="menu" href="#"><i class="fas fa-bars"></i></a></li>

          </div>
          <ul>
            <li class="dropdown"> <a class="dr" href="#">Account</a></li>
            <li class="dropdown"><a href="#">Logout</a></li>
          </ul>

        </ul>

      </div>
-->
  </header>

<main>
    <div class="update_main_box">
      <h1>Email  Update</h1>
  <div class="update_box">

<p class="current_email_adress">Your current email adress is: <p2 class="current_settings_info"> {{ current_user.email }}</p2> </p>

      <form class="#"  method="POST">

<!--
NOTE ..!! the reason of POST 404 err is because the action inside form tag was bad spelling..
I added .html [action="register.html"] and
it should be [action="register"] without adding ".html"
Pffffff >_<
-->

          {{ form.hidden_tag() }}


        <div class="input_loggin_box">
          {# {{ form.email }} #}

          <label>{{ form.email(placeholder="Type your new email adress") }}<!--<input type="text" placeholder="Email" name="Email" value="">--></label>
        {% if form.email.errors %}
        <div class="Field_is_not_matching">
        {% for error in form.email.errors %}
         <span>{{ error }}<span>
        {% endfor %}
        </div>
        {% else %}
        {{ email }}
        {% endif %}

        <img class="user_lock_png" src="{{ url_for('static', filename='img/user.png') }}" alt="user">
        </div>


<!--        <label class="remember_me"><input type="checkbox"> Remember me</label>-->
        <div class="input_loggin_box">

   {{ form.submit }} <!-- <input type="submit" value="Submit">-->
        </div>

        <p><a class="after_update_back_tohome" href="{{ url_for('login') }}">Back to your home page</a></p>

      </form>
    </div>
</div>

  </main>

  <footer id="footer">

  </footer>


</body>

</html>
