<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MPS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
  </head>
  <body>
<div class="main_header_box">
    <section>

<span class="shadow-line"></span>

              <div class="second_shadow_line">
              </div>
    <header>
      <a href="#" class="logo">My pet story</a>
      <ul class="ul_navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">5years</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="{{ url_for('login') }}">Sign in</a></li>
      </ul>
    </header>
      <div class="content">



        <img class="parrot" src="parrot.png" alt="Parrot">
        <div class="contentbx">
          <h2>Share Your Pet </br> Share Your Story.</h2>
<p>MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.</p>
        </div>
      </div>
  </section>
</div>
<div class="main_main">
<p>MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.MPS will give you a large opportunity to expand your knowledge </br> by sharing your story with millions of users every day.</br>
</br>Join today for free and share your experience with your family, friends, and all the world.</p>
</div>
<footer></footer>
  </body>
</html>

